/* 桌面端移动端公共样式 */
/* 游览器滚动条 */
/* ::-webkit-scrollbar {
    display: none;
  } */
body {
  @apply break-all m-0 p-0 md:m-0 md:p-0;
}
hr {
  @apply opacity-80 w-10 mx-auto mt-10 mb-10;
}
.container-home {
  @apply flex justify-center
}
.container-about {
@apply w-11/12  md:border-current md:border-2 pb-10 pl-2 mt-10 
 md:w-2/5 md:pl-10;
}
.piccard {
  @apply relative m-10;
}
.textcard {
  @apply text-white absolute inset-1/2;
}
.imgcard {
  @apply w-20;
}
.catalog {
  @apply flex justify-center flex-wrap justify-items-center w-4/5 mx-auto mt-10;
}

/* footer */
.footer-list {
  @apply text-sm opacity-70 mt-10;
}


.about-text {
  @apply opacity-80 pt-10 pb-1;
}

#h2 {
  @apply opacity-100 text-4xl font-medium pt-1 pb-1 mt-10;
}

.link-foot {
  @apply rounded-b-none border-b border-gray-400 md:rounded-b-none md:border-gray-300 md:border-b  hover:border-gray-600 transition-all duration-300;
}

.footer-list {
  @apply text-center  sm:text-left;
}


.earthContainer{
height:600px;
@apply  w-5/6 mx-auto mt-20 p-1
}
.earth{
@apply  w-full h-full rounded-3xl
}


