
/* 桌面端移动端公共样式 */
body{

  margin:0;
  padding:0;
}  

.container-home {
display: flex;
justify-content: center;
}

/* 游览器滚动条 */
/* ::-webkit-scrollbar {
    display: none;
  } */
.container-home {

}
/* footer */
.footer-list{
    font-size: 14px;
    opacity:0.6;
    
}

/* 屏幕宽度大于762px */
@media (min-width: 762px) {
  /* HomePage组件 */


  .container-about {
    width: 40vw;
  }

  .about-text {
    padding: 20px 0px 20px 0px;
    @apply opacity-80
  }

  #h2 {
    margin: 10px 0 10px 0;
    font-size: 48px;
    font-weight:bold;
    @apply opacity-100
  }


}

/* 屏幕宽度小于762px */
@media (max-width: 762px) {
  /* HomePage组件 */
  .container-home {
    margin-top: 30px;
  }

  .container-about {
    background-color: red;
  }

  #h2 {
    background-color: red;
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0 20px 0;
  }

  #p1 {
    padding: 30px 0px 10px 0px;
    opacity: 0.7;
  }
}
