/* 桌面端移动端公共样式 */
/* 游览器滚动条 */
::-webkit-scrollbar {
    display: none;
  }
body {
  @apply break-all m-0 p-0 md:m-0 md:p-0;
}
/* 
.VPNavBar{
border-bottom:0px !important;
padding-left:32px !important;
padding-right: 32px !important;
padding-top: 8px !important;
} */

/* HomePage */
#YEKMAT{
@apply mb-5 font-light italic text-4xl
}
.hr-home {
  @apply opacity-80 w-10 mx-auto mt-10 mb-10;
}
.container-home {
  @apply flex justify-center 
}
.container-about {
@apply w-10/12  pb-10 mt-10 md:w-4/5 lg:w-2/4;
}
.about-text-1{
@apply border-b  hover:border-current transition-all duration-300
}
.piccard {
  @apply relative m-10;
}
.textcard {
  @apply text-white absolute inset-1/2;
}
.imgcard {
  @apply w-20;
}
.catalog {
  @apply flex justify-center flex-wrap justify-items-center w-4/5 mx-auto mt-10;
}
.about-text {
  @apply pt-5 md:ml-10 ;
}
/* footer */
.footer-list {
  @apply text-sm text-center opacity-70 md:mt-10;
}


#h2 {
  @apply opacity-100 text-4xl font-medium  pt-1 pb-1 mt-5;
}

.link-foot {
  @apply rounded-b border-b md:rounded-b-none md:border-gray-300 md:border-b  hover:border-current transition-all duration-300;
}
.link-box{
  @apply md:pl-10
}
.footer-list {
  @apply text-center  md:text-left mt-10 md:ml-10;
}

/* Earth */
.earthContainer{
height:600px;
@apply  w-11/12 md:w-5/6 mx-auto mt-5 m-5 p-1  
}
.earth{
@apply  w-full h-4/5 rounded-3xl
}

.e-title{
  @apply text-center mt-10 mb-10 text-xl font-bold md:text-3xl
}
.loveBox{
  @apply w-1/2 mx-auto mt-20
  }
  
.love{
  font-size: 48px;
  }